[Unit]
Description=GitHub to Zulip Notification Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=$(shell pwd)/Proyectos/mercourier # Change if you cloned in other path than "/opt"
Environment=PATH=$(shell pwd)/Proyectos/mercourier/venv/bin # Change if you cloned in other path than "/opt"
ExecStart=$(shell pwd)/Proyectos/mercourier/venv/bin/python $(shell pwd)/Proyectos/mercourier/main.py # Change if you cloned in other path than "/opt"
Restart=always

[Install]
WantedBy=multi-user.target